@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  text-decoration: none !important;
}
a {
  color: #263238 !important;
}

body {
  background: #eaeaea;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: 'Raleway', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

main {
  min-height: 80vh;
}

.rating {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 13.5px;
}

.video-learning {
  padding: 20px;
}

/* CourseScroll */
.rec.rec-arrow {
  background-color: #eee;
}

.rec.rec-arrow:hover {
  background-color: #eaeaee !important;
  color: #111;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px #111;
}

.rec-arrow[disabled] {
  transform: scale(0);
  display: none;
}
